/*--------
    TYPO
----------*/

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/*-----------
    Buttons
------------*/

.btn_cs{
    color: white;
    border: none;
    border-radius: 10px;
    padding: 6px 16px;
    cursor: pointer;
}

.btn_grey{
    background-color: #363636;
}

.btn_red{
    background-color: #CD3D0F;
}

/*-----------
     Header
------------*/

header{
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0px;
    left: 0px;
}

.header-top{
    background-color: #000;
    padding: 10px 0px;
}

.header-top svg{
    height: 14px;
}

.header-bottom{
    background-color: white;
}

.dropdown_cs{
    white-space: nowrap;
}

.dropdown_cs::after{
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    fill: black;
}

/*---------
    Main
----------*/
/* header{
    display: none;
} */

.hero{
    position: relative;
    top: 110px;   /* Altezza dell'Header */
}

.img-bg{
    position: relative;
}

.hero-img{
    width: 100%;
}

.hero-logo-img{
    height: 40px;
}

.hero-info-container{
    position: absolute;
    height: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.hero-info{
    position: absolute;
    bottom: 30px;
    left: 10px;
}

