/*--------
    TYPO
----------*/

body{
    font-family: Arial, Helvetica, sans-serif;
}


/*-----------
    Buttons
------------*/


/*-----------
     Header
------------*/

.header-top{
    background-color: #000;
    padding: 10px 0px;
}

.header-top svg{
    height: 14px;
}

.dropdown_cs{
    white-space: nowrap;
}

.dropdown_cs::after{
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    position: absolute;
    width: 10px;
    right: -10px;
}

