/*------------
    COMMONS
-------------*/

body{
    padding-top: 110px;
}

.rounded_cs{
    border-radius: 20px;
}

.dropdown_cs{
    white-space: nowrap;
}

.dropdown_cs::after{
    content: url("../img/chevron-down-solid.svg");
    display: inline-block;
    width: 10px;
}

/*--------
    TYPO
----------*/

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#play5 h6{
    color: #0072CE;
    font-weight: bold;
}

#play5 h2, #play4 h2, #discounts h2, #social h2{
    font-size: 45px;
}

#play5 p, #play4 p, #discounts p{
    color: #727272;
    font-size: 20px;
}

/*-----------
    BUTTONS
------------*/

.btn_cs{
    color: white;
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    cursor: pointer;
}

.btn_grey{
    background-color: #363636;
}

.btn_red{
    background-color: #CD3D0F;
}

.btn_blue{
    background-color: #0072CE;
}

.btn_lightgrey{
    color: #2D64E6;
    background-color: #D9DADC;
}

.btn_white{
    color: #000;
    background-color: #F5F5F5;
}

/*------------------
    BUTTONS EFFECTS
--------------------*/

.btn_grey:hover{
    outline: 2px solid #363636; ;
    outline-offset: 2px;
}

.btn_red:hover{
    outline: 2px solid #CD3D0F; ;
    outline-offset: 2px;    
}

.btn_blue:hover{
    outline: 2px solid #0072CE ;
    outline-offset: 2px;    
}

.btn_white:hover{
    outline: 2px solid #F5F5F5; ;
    outline-offset: 2px;    
}

.btn_lightgrey:hover{
    box-shadow: 0px -3px 10px #fff;
}

/*-----------
     Header
------------*/

header{
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0px;
    left: 0px;
}

.nav-link:visited{
    color: inherit;
}

.header-top{
    background-color: #000;
    padding: 10px 0px;
}

.header-top svg{
    height: 14px;
}

.header-bottom{
    background-color: white;
}

/*---------
    Main
----------*/

/* Hero */

.bg-hero{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
}

.hero-logo{
    height: 40px;
}

.hero-info{
    padding-top: 530px;
    padding-bottom: 45px;
    padding-left: 40px;
}

/* Thumbnails gallery */

.active-thumb{
    outline: 3px solid #0072CE; ;
    outline-offset: 3px; 
}

/* Section Playstation5 */

/* Thumbnails gallery PS5 Devices */

.thumb-gallery-devices-play5 img{
    opacity: 0.4;
}

.thumb-gallery-active img{
    opacity: 1;
}

.thumb-gallery-active::after{
    content: "";
    height: 2px;
    width: 50%;
    background-color: #0072CE;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0px);
}

/* Jumbo it takes two */

.bg-jumbo{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-position: bottom;
    background-size: cover;
}

.jumbo-img{
    height: 200px;
}

.jumbo-info{
    padding-top: 100px;
    padding-bottom: 45px;
    padding-left: 40px;
}

/* Last relase section */

#last-relase{
    background-color: #1F1F1F;
}

#playplus{
    background-color: #BEBCBB;
}

#playnow{
    background-color: #161C3B;
}

footer{
    background-color: #00439C;
}

.svg-inline--fa{
    display: inline-block;
    width: 20px;
}

.footer-top ul li a{
    color: inherit;
    text-decoration: none;
}

.sony-e-logo{
    height: 50px;
}

/*--------
 EFFECTS
---------*/
.nav-item:hover .nav-link{
    color: grey;
}

.nav-item:hover .dropdown_cs::after{
    display: none;
}

.nav-item:hover .dropdown_cs::after{
    content: url("../img/chevron-down-solid-hover.svg");
    display: inline-block;
    width: 10px;
}

.transition-thumb:hover{
    cursor: pointer;
    position: relative;
    top: -20px;
}

#play5 [class *= "col"]:hover.thumb-gallery-effect .img-fluid{
    opacity: 1;
}

#play5 [class *= "col"]:hover.thumb-gallery-effect::after{
    content: "";
    height: 2px;
    width: 50%;
    background-color: #0072CE;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%, 0px);
}