/*--------
    TYPO
----------*/

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

/*-----------
    Buttons
------------*/

.btn_cs{
    border: none;
    border-radius: 10px;
    padding: 6px 16px;
    cursor: pointer;
}

.btn_grey{
    color: white;
    background-color: #363636;
}

/*-----------
     Header
------------*/

.header-top{
    background-color: #000;
    height: 44px;
    padding: 10px 0px;
}

.header-top svg{
    height: 14px;
}

.header-bottom{
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 44px;
    left: 0;
}

.dropdown_cs{
    white-space: nowrap;
}

.dropdown_cs::after{
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    position: absolute;
    width: 10px;
    right: -10px;
    fill: black;
}

