/*------------
     Commons
-------------*/

body{
    padding-top: 110px;
}

/*--------
    TYPO
----------*/

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

#play5 h6{
    color: #0072CE;
}

#play5 h2{
    font-size: 42px;
}

/*-----------
    Buttons
------------*/

.btn_cs{
    color: white;
    border: none;
    border-radius: 10px;
    padding: 6px 16px;
    cursor: pointer;
}

.btn_grey{
    background-color: #363636;
}

.btn_red{
    background-color: #CD3D0F;
}

.btn_blue{
    background-color: #0072CE;
}

/*-----------
     Header
------------*/

header{
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0px;
    left: 0px;
}

.header-top{
    background-color: #000;
    padding: 10px 0px;
}

.header-top svg{
    height: 14px;
}

.header-bottom{
    background-color: white;
}

.dropdown_cs{
    white-space: nowrap;
}

.dropdown_cs::after{
    content: url(../img/chevron-down-solid.svg);
    display: inline-block;
    width: 10px;
    fill: black;
}

/*---------
    Main
----------*/

/* Hero */

.bg-hero{
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-size: cover;
}

.hero-logo{
    height: 40px;
}

.hero-info{
    padding-top: 330px;
    padding-bottom: 45px;
    padding-left: 40px;
}

/* Thumbnails gallery */

.thumb-img{
    border-radius: 20px;
}

/* Section Playstation5 */